@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    /* cores */
    --background: #f2ebe3;
    --prices: #3c8067;
    --title: #1c232b;
    --background-card: #ffffff;
    --text: #6c7289;
}

*{
    /* reset padrão */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Configurando a tela e os tamanhos */
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    padding: 1em;
}

main{
    /* Centralizando tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* ajustando posição */
    height: 95%;
    width: 100%;
}

#main-container{
    /* Ajustando tamanhos, cores, espaçamentos e bordas */
    width: 560px;
    height: 460px;
    background-color: var(--background-card);
    border-radius: 14px;
}

#content{
    /* Dividindo o container */
    display: flex;
    justify-content: space-around;
    
}

#image{
    /* ajustando tamanho da imagem e posição do jpg dentro do container */
    width: 50%;
    height: 460px;
    background-image: url(./images/image-product-desktop.jpg);
    /* background-position: center; */
    background-size: cover;
    object-fit: cover;
    border-radius: 14px 0 0 14px;
}

#text-area{
    /* ajustando tamanho e espaçamento do texto */
    width: 50%;
    height: 430px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

#preview{
    /* Configurando o preview */
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    color: var(--text);
}

#main-title{
    /* Configurando o titulo */
    line-height: 2rem;
    margin-bottom: 1.8rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--title);
    font-family: 'Fraunces';
    text-align: left;
}

#main-content{
    /* Configurando o centudo principal */
    font-family: 'Montserrat';
    line-height: 1.2rem;
    font-size: 0.75rem;
    margin-bottom: 1.8rem;
    color: var(--text);
}

#pricing{
    /* Ajustando o posicionamento dos preços na tela */
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;
}

#actual-price{
    /* Configurando o preço atual do produto */
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2.1rem;
    color: var(--prices);
}

#discount-price{
    /* Quanto era o produto antes */
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--text);
}

#main-content span{
    /* Apenas pra não escrever em caixa alta no html, boas praticas */
    text-transform: uppercase;
}

#cart{
    /* Botão de adicionar ao carrinho */
    font-family: 'Montserrat';
    padding: 0.95rem 1.6rem;
    color: white;
    background-color: var(--prices);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

footer{
    /* Ajustando pra ter um footer descente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

@media screen and (max-width: 430px){
    body{
        /* Reajustando tamanho pra ficar de bom tamanho pra tela */
        width: 100%;
        height: 100%;
    }

    main{
        width: 100%;
        height: 90%;
    }

    #main-container{
        width: 340px;
        height: 100%;
    }

    #image{
        width: 100%;
    }

    #text-area{
        /* Ajustando pra área caber novamente dentro do card */
        width: 100%;
    }

    #content{
        display: flex;
        flex-direction: column;
    }

    #image{
        background-image: url(./images/image-product-mobile.jpg);
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    #main-title{
        /* font-size: 1.7rem; */
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
        max-width: 560px;
    }
}