*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #efefef;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    padding: 4px 14px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-size: 1em;
}

/*coloca um bom tamanho para o container na tela*/
.container{
    position: relative;
    margin: 0 auto; /*Centraliza o objeto*/
    width: 800px;
    height: 400px;
    /*Isso vai delimitar o tamanho da minha imagem*/
    overflow: hidden;
}

/*Sumir com os radio buttons*/
.container input{
    display: none;
}

/*Ajustando imagens, alinhando os itens*/
.slider{
    display: flex;
    align-items: center;
}

/*Cobrindo todo o espaço disponível*/
.slider img, .slide{
    object-fit: cover;
    width: 800px;
    height: 400px;
    transition: all 0.3s;
}

.manual-nav{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 800px;
}

.manual-btn{
    padding: 4px 16px;
    opacity: 0.4;
    border: 2px solid #6E260E;
    background-color: #6E260E;
    border-radius: 12px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.manual-btn:hover{
    opacity: .9;
}

#first:checked ~ .first{
    margin-left: 0;
}

#second:checked ~ .first{
    margin-left: -100%;
}

#third:checked ~ .first{
    margin-left: -200%;
}

#forth:checked ~ .first{
    margin-left: -300%;
}